@import url('https://fonts.cdnfonts.com/css/gill-sans');
@import url('https://fonts.cdnfonts.com/css/klein-condensed-trial');
@import url('https://fonts.cdnfonts.com/css/gill-sans-mt-condensed');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', sans-serif; */
    /* font-family: 'Klein Condensed Trial', sans-serif; */
    /* font-family: 'Gill Sans MT Condensed', sans-serif; */
    /* font-family: 'Gill Sans MT', sans-serif; */
    /* font-family: 'Gill Sans MT Ext Condensed Bold', sans-serif;
    font-family: 'Gill Sans MT Light', sans-serif; */
    font-family: 'Poppins', sans-serif;                                              
}

body{
    background-color: #1a1818;
    background-color: #fff;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}


.volumes{
    position: relative;
    /* height: 600px; */
    width: 100%;
    background-color: #ffffff;
    background-color: #1a5818;
    padding: 50px 100px;
    padding-bottom: 0;
    color: #fff;
    color: #707070;   
}

.volumes h1{
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}

.MioVolumes{
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: end;
}

.MioVolumes .image{
    margin-top: 10px;
    transition: .5s;
    width: 300px;
    height: 350px;
    padding: 0;
}

.vol h1, .vol h2{
    font-size: 25px;
}

.vol img{
    width: 90px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.rd{
    display: none;
}

.vol{
    position: relative;
    width: max-content;
    flex-wrap: wrap;
    padding: 0px 30px;
    margin-right: 100px;

}

.trocados{
    padding: 0;
}

.vol ul{
    text-decoration: none;
    
}

.vol ul li{
   
    display: inline;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    /* text-align: center; */
    padding: 0 5px;
   
}

.vol ul li img:hover{
    transform: rotate('15deg');
}


.vol ul li label h2{
    position: absolute;
    margin-top: -100px;
    right: 50px;
}

.vol ul li input:checked ~ label img{
    border: 1px solid black;
    transition: .3s;
    transform: rotate(-1deg);
}

.MioVolumes ul{
    display: inline;
}


.image img{
    transition: 1s;
    margin-top: 12px;
   width: 100%;
}

.image img:hover{
    transform: scale(1.1);
}

.image h2{
    position: absolute;
    width: 300px;
    left: 25%;
    /* top: 10%; */
    opacity: 20%;
    transform: rotate(-5deg);
    animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
    50%{
        transform: rotate(-5deg) translate(2px);
        
    }

    100%{
        transform: rotate(-5deg) translate(-2px);
    }
}

  
.light{
    background-color: #ffffff;
    color: #707070;
}

.dark{
    background-color: #1a1818;
    color: #fff;
}

.light2{
    background-color: #FBFBFB;
    color: #707070;
}

.dark2{
    background-color: #1d1b1b;
    color: #fff;
}